@model TP7_FMGordillo.Models.Articulo

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>

<h3>¿Est&aacute; seguro que quiere eliminar este art&aacute;culo?</h3>
<div>
    <h4>Art&aacute;culo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("¨Volver a la lista", "Index")
        </div>
    }
</div>
